<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/users.css')}}"
    />
  </head>
  <body>
    {% if textError %}
    <p class="alert-error">{{ textError }}</p>
    {% elif textSuccess %}
    <p class="alert-success">{{ textSuccess }}</p>
    {% endif %}

    <section class="utama singin-container">
      <form action="/singin" id="formsingin" method="POST">
        <label for="name">Name :</label>
        <input type="text" name="namesingin" id="name" value="" />
        <label for="password">Password :</label>
        <input type="password" id="password" name="passwordsingin" value="" />
        <button type="submit" class="singgin">Login</button>
        <button type="button" class="Back">
          <a href="{{ url_for('dashboard')}}">Back</a>
        </button>
      </form>
    </section>
  </body>
</html>
